<style>
.playerDefaul {
	background: white;
	border-radius: 50px;
	padding: 10px;
	margin-top: 20px;
}
</style>
<div class="row" style="border: 1px solid #e7e7e7;border-radius: 5px;padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
		<h4>Мой аккаунт</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge" style="background-color: white;padding: 0px;">
					<select class="custom-select form-control" style="width: 140px;height: 30px;padding: 0px;border: 1px solid #ddd;margin-top: -5px;font-size: 1rem;" onChange="changeUser($(this).val());">
						<option>Выберите аккаунт</option>
						[#begin ALLUSERLIST#]
						<option value="[#ID#]">[#FULLNAME#] ([#USERNAME#])</option>
						[#end ALLUSERLIST#]
					</select>
				</span>
				Сменить аккаунт
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_ID#]</span> <span class="badge">[#ACCOUNT_UID#]</span>
				UID/ID
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_LOGIN#]</span>
				Логин пользователя
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_NAME#]</span>
				Полное имя
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_REGDATE#]</span>
				Дата регистрации
			</li>
			<li class="list-group-item">
				<span class="badge" style="background-color: white;">[#ACCOUNT_AVAIL#]</span>
				Статус подписки
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_SUB_END_DATE#]</span>
				Заканчивается
			</li>
			<li class="list-group-item">
				<span class="badge">[#ACCOUNT_SUB_HOWPAY#] [#ACCOUNT_SUB_HOWPAY_CURR#]</span>
				Стоимость
			</li>
		</ul>
		<div id="addNewUSer" style="display:none;">
			<hr>
			<div id="loadNewUser" style="display:none;text-align: center;background: #ececec;padding: 5px;border-radius: 10px;border: 1px solid #FF9800;">
				<img src="/templates/yamusic/img/load.gif">
				<p>Загружаем информацию о новом аккаунте! Если логин и пароль верны, модуль загрузит ваши плейлисты и музыку из них. <b>Операция долгая</b> - не закрывайте страницу!</p>
			</div>
			<form action="?" method="post" enctype="multipart/form-data" id="loadNewUserForm">
				<label>Логин от Яндекс.Музыка</label>
				<input type="text" class="form-control" style="outline: none;border-radius: 5px;" name="loginYandex" placeholder="Логин, без @yandex.ru" value="">
				<label style="margin-top: 15px;">Пароль от Яндекс.Музыки</label>
				<input type="password" class="form-control" style="outline: none;border-radius: 5px;" name="passwordYandex" placeholder="" value="">
				<center style="margin-top: 20px;margin-bottom: 20px;">
					<button type="submit" class="btn btn-success" onclick="$('#loadNewUser').show();$('#loadNewUserForm').hide();"><i class="las la-user-tie"></i> Авторизоваться</button>
				</center>
				
				<input type="hidden" name="mode" value="auth">
			</form>
		</div>
		[#if ERRORAUTH == 1#]
			<div class="alert alert-danger" role="alert" style="text-align: center;" id="hintWrongPass">
				Ошибка авторизации! Введен неверный логин или пароль...
			</div>
		[#endif#]
		<div class="text-center"><a href="#" style="text-decoration: none;color: #333333;border: 1px solid #cccccc;padding: 10px;border-radius: 5px;" onclick="$(this).hide();$('#addNewUSer').show();$('#hintWrongPass').hide();">Добавить нового пользователя</a></div>
		[#if PLAYLIST_MUSICLIST != ''#]
			<hr>
			<div class="row text-center">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" style="padding: 0px;">
					<a href="?mode=playlistOnDay"><img src="/templates/yamusic/img/playlist_icon/onday.png" style="width: 95%;"></a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" style="padding: 0px;">
					<a href="?mode=playlistNewTracks"><img src="/templates/yamusic/img/playlist_icon/newtracks.gif" style="width: 95%;"></a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" style="padding: 0px;">
					<a href="?mode=playlistDejavu"><img src="/templates/yamusic/img/playlist_icon/dejavu.gif" style="width: 95%;"></a>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12" style="padding: 0px;">
					<a href="?mode=playlistTainik"><img src="/templates/yamusic/img/playlist_icon/tainik.gif" style="width: 95%;"></a>
				</div>
			</div>
		[#endif#]
		<hr>
		<h4>Мои плейлисты ([#TOTAL_PLAYLIST#] шт.)</h4>
		<!---
		<div class="list-group" style="margin-bottom: 10px;">
			<a href="?mode=loadPlayList&playlistID=-1" class="list-group-item active" style="padding: 5px;min-height: 62px;">
				<div style="float: left;"><img src="https://music.yandex.ru/blocks/playlist-cover/playlist-cover_like.png" style="width: 50px;"></div>
				<div style="padding-left: 60px;margin-top: 7px;">
					<div class="list-group-item-heading" style="margin-bottom: 0px;">Мне нравится</div>
					<p class="list-group-item-text" style="font-size: 1.1rem;margin-bottom: 0px;">Сформирован по вашим лайкам</p>
				</div>
			</a>
		</div>--->
		<script>
		function sendOnTV(objProp, songID = '') {
			objPropSplit = objProp.split('.');
			object = objPropSplit[0];
			prop = objPropSplit[1];
			playlist = '[#PLAYLIST_CURRENT#]';
			owner = '[#ACCOUNT_UID#]';
			shaffle = $('#shaffleMusic').text();
			if(songID) songID = '&songID='+songID;
			
			$.getJSON({
				url: '/modules/yamusic/ajax.php?action=playOnTV&obj='+object+'&prop='+prop+'&playlist='+playlist+'&owner='+owner+songID,
				success: function(responce) {
					alert('Плейлист отправлен! Внимание на телевизор! =)');
				},
				error: function(responce) {
					alert('Ошибка AJAX - sendOnTV');
				}
			});			
		}
		
		function changeUser(newUser) {
			$.getJSON({
				url: '/modules/yamusic/ajax.php?action=changeUser&newuser='+newUser,
				success: function(responce) {
					window.location = "/admin.php?md=panel&inst=&action=yamusic";
				},
				error: function(responce) {
					alert('Ошибка AJAX - changeUser');
				}
			});			
		}
		
		function saveVolume(chanel, value) {
			$.getJSON({
				url: '/modules/yamusic/ajax.php?action=saveVolume&chanel='+chanel+'&value='+value,
				success: function(responce) {
					
				},
				error: function(responce) {
					alert('Ошибка AJAX - saveVolume');
				}
			});			
		}
		
		function startPlayMusic(command) {
			//Покажем лоадинг
			$('#startPlayMusic').hide();
			$('#shaffleBotton').hide();
			$('#volumeBotton').hide();
			$('#pausePlayMusic').hide();
			$('#nextTrack').hide();
			$('#prevTrack').hide();
			$('#startPlayMusicLoad').show();
			
			//Узнаем, чью музыку запускать
			onwer = $('#ownerMusic').text();
			isShaffle = $('#shaffleMusic').text();
			playlist = $('#playlistMusic').text();
			next = $('#currentMusicTrack').text();
			prev = $('#currentMusicTrack').text();
			
			songID = '&songID='+$('#playSongCommand').text();
			
			//Плейлист по умолчанию
			if(!playlist) playlist = '[#PLAYLIST_CURRENT#]'; 
			if(!onwer) onwer = '[#ACCOUNT_UID#]'; 
			
			if(command == 'prev') {
				urlGenerate = '/modules/yamusic/json.php?mode=track&playlist='+playlist+'&count=1&owner='+onwer+'&shaffle='+isShaffle+'&prev='+prev+songID;
			} else if(command == 'next') {
				urlGenerate = '/modules/yamusic/json.php?mode=track&playlist='+playlist+'&count=1&owner='+onwer+'&shaffle='+isShaffle+'&next='+next+songID;
			} else {
				urlGenerate = '/modules/yamusic/json.php?mode=track&playlist='+playlist+'&count=1&owner='+onwer+'&shaffle='+isShaffle+songID;
			}
			
			//Запрос нужного трека
			$.getJSON({
				url: urlGenerate,
				success: function(responce) {
					//Вставляем ссылку
					$('#musicPlayer').attr('src', responce[0].LINK);
					
					var audio = document.getElementById("musicPlayer");
					
					audio.addEventListener('ended', nextPlayMusic);
					
					audio.addEventListener('canplay', function () {
						$('#currentMusicTrack').text(responce[0].ID);
					})
					
					audio.addEventListener('loadedmetadata', function () {
						//Меняем кнопки
						$('#startPlayMusicLoad').hide();
						//Инфо о треке
						if(responce[0].NAMESONG.length > 16) {
							$('#songName').html('<marquee behavior="alternate" direction="left" style="margin-bottom: -6px;" scrollamount="3">'+responce[0].NAMESONG+'</marquee>');
						} else {
							$('#songName').html(responce[0].NAMESONG);
						}
						
						$('#artistsName').html(responce[0].ARTISTS);
						$('#coverSong').attr('src', responce[0].COVER);
						$('#backgroundCoverBlur').attr('style', 'position: fixed;background-image: url('+responce[0].COVER+');filter: blur(15px);background-size: cover;background-position: center center;z-index: 99;background-repeat: no-repeat;height: 180px;width: 300px;padding: 15px;border-radius: 20px 20px 0px 0px;bottom: 0;right: 0;margin-right: 15px;');
						$('#backgroundCoverBlur').show();
						
						$('#hideWhenNoneMusic').show();
						$('#shaffleBotton').show();
						$('#volumeBotton').show();
						
						//Воспроизводим после того как метаданные загрузятся
						$('#musicPlayer').get(0).play();
						$('#pausePlayMusic').show();
						$('#nextTrack').show();
						if(isShaffle != 1) $('#prevTrack').show();
						$('#playSongCommand').text('');
						
						$('.clearBottonPause').hide();
						$('.clearBottonPlay').show();
						
						//Каждую секунду изменяет значение бекгроунд
						var timerShowTrackTime = setInterval(function() { trackListInfo() }, 1000);
						
						$('#startPlayMusic_'+responce[0].SONGID).hide();
						$('#pausePlayMusic_'+responce[0].SONGID).show();
						
						$('.clearTRNowTrack').attr('style', 'border: 1px solid #e7e7e7;border-radius: 10px;');
						$('#trsong_'+responce[0].SONGID).attr('style', 'border: 1px solid #e7e7e7;border-radius: 10px;background: #d6ecff;');
					})

				},
				error: function(responce) {
					alert('Ошибка AJAX - startPlayMusic');
				}
			});			
		}
		
		function nextPlayMusic() {
			var audio = document.getElementById("musicPlayer");
			audio.removeEventListener('ended', nextPlayMusic);
			
			$('#pausePlayMusic').hide();
			startPlayMusic('next');
		}
		
		function prevPlayMusic() {
			var audio = document.getElementById("musicPlayer");
			audio.removeEventListener('ended', nextPlayMusic);
			
			$('#pausePlayMusic').hide();
			startPlayMusic('prev');
		}
		
		function pausePlayMusic() {	
			var audio = document.getElementById("musicPlayer");
			audio.removeEventListener('ended', nextPlayMusic);
			
			//Меняем кнопки
			$('#startPlayMusic').show();
			$('#pausePlayMusic').hide();
			$('#nextTrack').hide();
			$('#prevTrack').hide();
			//Пауза
			$('#musicPlayer').get(0).pause();
			$('#musicPlayer').removeAttr('src');
			$('#hideWhenNoneMusic').hide();
			$('.clearBottonPause').hide();
			$('.clearBottonPlay').show();
			$('.clearTRNowTrack').attr('style', 'border: 1px solid #e7e7e7;border-radius: 10px;');
			$('#backgroundCoverBlur').hide();
			
			//Инфо о треке
			$('#songName').html('');
			$('#artistsName').html('');
			$('#coverSong').attr('src', '/templates/yamusic/img/yamusic_logo_full.png');
		}
		
		function trackListInfo() {
			allTrackTime = Math.round($('#musicPlayer').get(0).duration);
			nowTrackTime = Math.round($('#musicPlayer').get(0).currentTime);
			
			countNowTime = nowTrackTime/allTrackTime*100;
			$('#buttonControl').attr('style', 'background: url(/templates/yamusic/img/yellow_back_player.png);background-size: '+countNowTime+'% auto;background-color: #ffffff;background-repeat: repeat-y;');
		}
		
		function shaffleMusicTrack() {
			shaffleStatus = $('#shaffleMusic').text();
			
			if(shaffleStatus == 1) {
				$('#shaffleMusic').text('0');
				$('#shaffleBotton').attr('style', 'font-size: 2.3rem;margin-left: 15px;vertical-align: super;');
			} else {
				$('#shaffleMusic').text('1');
				$('#shaffleBotton').attr('style', 'color: orange;font-size: 2.3rem;margin-left: 15px;vertical-align: super;');
			}
		}
		
		function rangeVolumeSet(chanel) {
			let audio = document.querySelector('audio');
			val = $('#volumeSetControl_'+chanel).val();
			audio.volume = val/100;
			
			saveVolume(chanel, val/100);
			
			$('#setShowVolume_'+chanel).text(val);
			$('#volumeSetControl_'+chanel).css({'background':'-webkit-linear-gradient(left ,#8870FF 0%,#8870FF '+val+'%,#fff '+val+'%, #fff 100%)'});
		}
		
		$(function() {
			let audio = document.querySelector('audio');
			audio.volume = [#VOLUME_PUANDSCENE#];
		
			$('#setShowVolume_PUANDSCENE').text('[#VOLUME_PUANDSCENE#]'*100);
			$('#volumeSetControl_PUANDSCENE').val('[#VOLUME_PUANDSCENE#]'*100);
			$('#volumeSetControl_PUANDSCENE').css({'background':'-webkit-linear-gradient(left ,#8870FF 0%,#8870FF '+'[#VOLUME_PUANDSCENE#]'*100+'%,#fff '+'[#VOLUME_PUANDSCENE#]'*100+'%, #fff 100%)'});
			
			$('#setShowVolume_TVLG').text('[#VOLUME_TVLG#]'*100);
			$('#volumeSetControl_TVLG').val('[#VOLUME_TVLG#]'*100);
			$('#volumeSetControl_TVLG').css({'background':'-webkit-linear-gradient(left ,#8870FF 0%,#8870FF '+'[#VOLUME_TVLG#]'*100+'%,#fff '+'[#VOLUME_TVLG#]'*100+'%, #fff 100%)'});
			
			$('#playlistList_[#PLAYLIST_CURRENT#]').attr('style','padding: 5px;min-height: 62px;color: white;background-color: #d6ecff;');
		});
		</script>
		[#begin PLAYLIST#]
		<div class="list-group" style="margin-bottom: 10px;">
			<a href="?mode=loadPlayList&playlistID=[#PLAYLISTID#]" id="playlistList_[#PLAYLISTID#]" class="list-group-item active" style="padding: 5px;min-height: 62px;background-color: #ffffff;">
				<div style="float: left;"><img src="[#COVER#]" style="width: 50px;"></div>
				<div style="padding-left: 60px;margin-top: 7px;">
					<div class="list-group-item-heading" style="margin-bottom: 0px;color: #333;">[#TITLE#]</div>
					<p class="list-group-item-text" style="font-size: 1.1rem;margin-bottom: 0px;color: #333;">Обновлен: [#CREATED#] / Длительность [#DURATION#]</p>
				</div>
			</a>
		</div>
		[#end PLAYLIST#]
		<div class="text-center">
			<form action="?" method="post" enctype="multipart/form-data">
				<input type="hidden" name="mode" value="reloadplaylist">
				<button type="submit" class="btn btn-default">Обновить список плейлистов</button>
			</form>
		</div>
	</div>
	<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
		[#if ERRORSUBSCRIBE == 1#]
			<div class="alert alert-warning text-center" role="alert" style="margin-bottom: 0px;color: white;font-size: 1.7rem;border-radius: 30px;background: linear-gradient(60deg, #5340e7, #7259c1, #8f7099, #aa8774, #c79e4c, #d8ab36);">
				Проблема с подпиской. Мы обнаружили, что у введеного пользователя не активна подписка на Яндекс.Плюс.<br>
				Работа модуля без подписки невозможна, он небыл добавлен.
				<div class="text-center" style="margin-top: 15px">
					<a href="https://plus.yandex.ru/" target="_blank" style="padding: 20px;color: white;background: #2400a4;font-size: 2rem;border-radius: 100px 20px 20px 100px;text-decoration: none;"><img src="/templates/yamusic/img/plus_cer.png" style="width: 100px;"> Купить подписку Я.Плюс</a>
				</div>
			</div>
		[#endif#]
		[#if LOADPLAYLISTDONE == 1#]
			<div class="text-center" style="margin-top: 20px">
				<i class="las la-check-square" style="font-size: 10rem;color: green;"></i>
				<div>
					Ваши <b>данные загружены</b>! Теперь при выборе плейлиста модуль скачает список треков этого плейлиста с сервера Яндекс и запишет их в базу данных. Скачивание списка музыки может занять много времени, т.к. модуль обрабатывает каждый трек.
					<br>
					В дальнейшем открытие скаченного плейлиста будет происходить быстро, т.к. все данные будут в вашей БД.
					<br><br>
					Загружайте плейлисты и погнали! =)
					<br><br>
					<div class="text-center">
						<form action="?" method="post" enctype="multipart/form-data">
							<input type="hidden" name="mode" value="reloadplaylist">
							<button type="submit" class="btn btn-success">Обновить список плейлистов</button>
						</form>
					</div>
				</div>
			</div>
		[#else LOADPLAYLISTDONE#]
		[#if TOTAL_PLAYLIST_NEEDLOAD == 1#]
			<div class="text-center" style="margin-top: 20px">
				<i class="las la-sync" style="font-size: 10rem;color: orange;"></i>
				<div>
					Мы не смогли выгрузить ваши треки автоматически. Сделайте это вручную или <a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=7103&p=119546#p119546" target="_blank">делайте это автоматически из скриптов</a>
					<br>
					Загружайте треки и погнали! =)
					<br><br>
					<div class="text-center">
						<form action="?" method="GET" enctype="multipart/form-data">
							<input type="hidden" name="mode" value="[#PLAYLIST_CURRENT_SYSTEMNAME#]">
							<input type="hidden" name="view_mode" value="reload">
							<button type="submit" class="btn btn-success">Обновить список треков</button>
						</form>
					</div>
				</div>
			</div>
		[#else TOTAL_PLAYLIST_NEEDLOAD#]
		<h4>Треки из плейлиста <b>[#PLAYLIST_CURRENT_NAME#]</b> (Всего [#TOTAL_PLAYLIST_TRACKS#], показано [#TOTAL_PLAYLIST_SHOWTRACKS#])</h4>
		<table class="table table-stripped" style="font-size: 1.2rem;">
			<tbody>
				[#begin PLAYLIST_MUSICLIST#]
					<tr class="clearTRNowTrack" style="border: 1px solid #e7e7e7;border-radius: 10px;" id="trsong_[#SONGID#]">
						<td valign="middle" style="border-top: 0px;vertical-align: middle;"><img src="[#COVER#]" style="width: 50px;"></td>
						<td valign="middle" style="border-top: 0px;vertical-align: middle;">[#ARTISTS#] - [#NAMESONG#]</td>
						<td valign="middle" style="border-top: 0px;vertical-align: middle;">[#DURATION#]</td>
						<td valign="middle" style="border-top: 0px;vertical-align: middle;width: 40%;text-align: right;">
							<i class="las la-tv showSendOnTVAllIcon" onclick="sendOnTV($('#selectForTV').val(), '[#SONGID#]');" style="font-size: 4rem;display:none;"></i>
							<!--- <i class="las la-cloud-upload-alt" onclick="alert('Отправить на терминал. В разработке');" style="font-size: 4rem;"></i> --->
							
							<img src="/templates/yamusic/img/load.gif" id="startPlayMusicLoad_[#SONGID#]" style="width: 40px;vertical-align: top;display: none;">
							
							<i class="las la-play clearBottonPlay" style="font-size: 4rem;color: #5cb85c;" id="startPlayMusic_[#SONGID#]" onclick="$('#playlistMusic').text('<#PLAYLIST_CURRENT#>');$('#ownerMusic').text('[#OWNER#]');$('#playSongCommand').text('[#SONGID#]');startPlayMusic();"></i>
							<i class="las la-pause-circle clearBottonPause" style="font-size: 4rem;display:none;color: #b35b81;" id="pausePlayMusic_[#SONGID#]" onclick="pausePlayMusic();"></i>
						</td>
						
					</tr>
				[#end PLAYLIST_MUSICLIST#]
			</tbody>
		</table>
		[#endif TOTAL_PLAYLIST_NEEDLOAD#]
		[#endif LOADPLAYLISTDONE#]
	</div>
	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="">
		<h4>Настройки и управление</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<span style="float: right;background-color: white;padding: 0px;color: black;">
					<select style="vertical-align: text-bottom;" [#if ISHAVELGTV_FLAG != 1#]disabled[#endif#] onChange="if(!$(this).val()) { $('#playOnTVIcon').hide();$('.showSendOnTVAllIcon').hide(); } else { $('#playOnTVIcon').show();$('.showSendOnTVAllIcon').show(); }" id="selectForTV">
					[#if ISHAVELGTV_FLAG != 1#]<option>Нет доступных ТВ</option>[#else#]<option value="">На какой ТВ отправить?</option>[#endif#]
					[#begin ISHAVELGTV_ARRAY#]
						<option value="[#OBJ#].[#PROP#]">ТВ №[#DEVICE_ID#] -> [#OBJ#].[#PROP#]</option>
					[#end ISHAVELGTV_ARRAY#]
					</select>
					
					<i class="las la-play" style="font-size: 2rem;color: #5cb85c;display:none;cursor:pointer" id="playOnTVIcon" onclick="sendOnTV($('#selectForTV').val());"></i>
				</span>
				<i class="las la-tv" style="font-size: 2rem;color: black;vertical-align: top;"></i> Отправить на ТВ
			</li>
			<li class="list-group-item">
				<span style="float: right;background-color: white;padding: 0px;color: black;cursor:pointer;" data-toggle="modal" data-target="#volumeControl">
					<span style="vertical-align: top;">Настроить</span>
				</span>
				<i class="las la-volume-up" style="font-size: 2rem;color: black;vertical-align: top;"></i> Громкость
			</li>
			<li class="list-group-item">
				<span style="float: right;background-color: white;padding: 0px;color: black;cursor:pointer;" data-toggle="modal" data-target="#volumeControl">
					<span style="vertical-align: top;">Настроить</span>
				</span>
				<i class="las la-volume-up" style="font-size: 2rem;color: black;vertical-align: top;" onclick="trackListInfo();"></i> Тест
			</li>
		</ul>
	</div>
	
	<div id="backgroundCoverBlur" style=""></div>
	
	<div id="hideWhenNoneMusic" style="display:none;position: fixed;z-index: 99;height: 150px;width: 300px;padding: 15px;border-radius: 20px 20px 0px 0px;bottom: 0;right: 0;margin-right: 10px;">
		<div style="float: left;">
			<img id="coverSong" src="/templates/yamusic/img/yamusic_logo_full.png" style="width: 50px;border: 1px solid white;">
		</div>
		<div style="margin-left: 60px;padding-top: 4px;font-weight: 100;">
			<span id="songName" style="font-weight: bold;background: white;border-radius: 5px 5px 5px 0px;padding: 2px 5px 2px 5px;"></span><br>
			<span id="artistsName" style="background: white;padding: 2px 5px 2px 5px;border-radius: 0px 0px 5px 5px;"></span>
		</div>
		
		<div id="buttonControl" class="text-center playerDefaul" style="">
			<i class="las la-volume-up" data-toggle="modal" data-target="#volumeControl" id="volumeBotton" style="display: none;font-size: 2.3rem;margin-right: 15px;vertical-align: super;"></i>
		
			<i class="las la-backward" style="font-size: 4rem;color: #5d5386;margin-right: 15px;display:none;" id="prevTrack" onClick="prevPlayMusic();"></i>
			
			<img src="/templates/yamusic/img/load.gif" id="startPlayMusicLoad" style="width: 40px;vertical-align: top;display: none;">
			
			<i class="las la-play" style="font-size: 4rem;color: #5cb85c;" id="startPlayMusic" onclick="startPlayMusic();"></i>
			<i class="las la-pause-circle" style="font-size: 4rem;display:none;color: #b35b81;" id="pausePlayMusic" onclick="pausePlayMusic();"></i>
			<i class="las la-forward" style="font-size: 4rem;color: #5d5386;margin-left: 15px;display:none;" id="nextTrack" onClick="nextPlayMusic();"></i>
			
			<i class="las la-random" id="shaffleBotton" onclick="shaffleMusicTrack();" style="display:none;font-size: 2.3rem;margin-left: 15px;vertical-align: super;"></i>
			
			<audio id="musicPlayer" src="" preload="auto"></audio>

			<div id="currentMusicTrack" style="display: none;">0</div>
			<div id="playSongCommand" style="display: none;"></div>
			<div id="shaffleMusic" style="display: none;">0</div>
			<div id="ownerMusic" style="display: none;">[#ACCOUNT_UID#]</div>
			<div id="playlistMusic" style="display: none;">[#PLAYLIST_CURRENT#][#ACCOUNT_UID#]</div>
		</div>
	</div>
</div>

<div class="modal fade" id="volumeControl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Громкость медиа</h4>
			</div>
			<div class="modal-body">
				<p>Установите постоянную громкость медиа для модуля. При любом использовании будет установлена ​​указанная громкость.</p>
				<h4 style="border-top: 1px solid #e7e7e7;padding-top: 10px;">Громкость для ПУ и сцен: (PUANDSCENE)</h4>
				<div>
					<div class="text-center" style="font-size: 4rem;">
						<i class="las la-volume-up"></i> <span id="setShowVolume_PUANDSCENE"></span>%
					</div>
					<input type="range" id="volumeSetControl_PUANDSCENE" onChange="rangeVolumeSet('PUANDSCENE')" min="0" max="100" style="width: 100%;-webkit-appearance: none;border-radius: 2px;height: 10px;outline: none;border: 1px solid #D4D4D4;" value="0">
				</div>
				<h4 style="border-top: 1px solid #e7e7e7;padding-top: 10px;">Громкость для ТВ LGWEBOS: (TVLG)</h4>
				<div>
					<div class="text-center" style="font-size: 4rem;">
						<i class="las la-volume-up"></i> <span id="setShowVolume_TVLG"></span>%
					</div>
					<input type="range" id="volumeSetControl_TVLG" onChange="rangeVolumeSet('TVLG')" min="0" max="100" style="width: 100%;-webkit-appearance: none;border-radius: 2px;height: 10px;outline: none;border: 1px solid #D4D4D4;" value="0">
				</div>
			</div>
		</div>
	</div>
</div>